<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>블로그</title>
</head>
<body style="margin: 0;">
    <div style="padding: 20px; box-shadow: 0 1px 2px;">
        <span style="display: block;
                     width: 1000px;
                     margin: auto;
                     font-weight: bold;
                     font-size: 26px;
                     color: #4ea0e2;">우철's 블로그</span>
    </div>

    <div>
        {% block content %}{% endblock %}
    </div>
</body>
</html>
