{% extends 'base.html' %}


{% block content %}
<div style="width: 1000px; margin: auto;">
    <div style="padding: 80px 0 30px 0; margin-bottom: 50px;">
        <h2 style="text-align: center; color: #565656;">{{ article.title }}</h2>
        <div style="text-align: right;
                    margin-top: 30px;
                    margin-right: 10px;
                    font-size: 12px;">
            <span>{{ article.created_at|date:"Y. m. d. h:i A" }}</span><br />
            <span>우철</span>
        </div>
    </div>
    <div style="font-size: 13px; line-height: 18px; color: #565656;">
        <p>{{ article.content }}</p>
    </div>
    <a href="{% url 'blog_list' %}">
        <button style="padding: 10px 20px;">목록으로</button>
    </a>
</div>
{% endblock %}
